*{margin: 0%; padding: 0%; box-sizing: border-box;}

html, body{
    font-size: 65.5;
    overflow-x: hidden;
}

h2{
    text-transform: capitalize;
}

p{
    text-transform: capitalize;
}

.navbar1{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    border-bottom: 1px solid rgb(185, 185, 185) ;
    border-top: 1px solid rgb(211, 211, 211) ;
}

.right{
    display: flex;
}


.right p{
    margin-left: 25px;
    font-size: 15px;
}

.left{
    display: flex;
   
}

.left p{
    padding: 0px 10px;
}

.left select{
    margin: 0px 10px;
    border: none;
}

.left i{
    font-size: 20px;
    color: black;
    background: white;
    padding: 0px 15px;
}

.navbar2{
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
    height: 50px;
    margin-top: 10px;
}

.navbar2 .naveed{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 1px solid gray;
    border-right: 2px solid black;
    height: 40px;
}

.navbar2 img{
    width: 200px;
    height: 50px;
}

.navbar2 input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    border-top: 2px solid black;

}

.navbar2 button{
    outline: none;
    border: none;
    background: #fff;
    font-weight: 100;
    width: 40px;
    height: 40px;
}

.navbar2 select{
    border: none;
    height: 40px;
}

.navbar2 .btn{
    padding: 15px;
    width: 20%;
    color: #fff;
    margin-left: 2px;
    background: rgb(57, 57, 199);
    margin-right: 10px;
}

.navbar2 .fa-search{
    align-self: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: #777;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    
}


.navbar3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px ;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px 0px;
}

.navbar3 a{
    color: black;
    padding: 0% 30px;
    text-decoration: none;
    font-size: 12px;
}

.slider{
    width: 100%;
    height: 50%;
    position: relative;
}

.slider img{
    width: 100%;
    height: 50%; 
}

.overly{
    width: 100%;
    height: 100%;
    /* background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)); */
    position: absolute;
    top: 0%;
}   

.back{
    position: absolute;
    top: 10%;
    left: 3%;
}

.back h2{
    font-size: 35px;
    font-weight: bolder;
    word-spacing: 2px;
}

.back p{
    font-size: 20px;
    margin: 10px 5px;
    word-spacing: 2px;
    
}

button{
    font-size: 20px;
   padding: 10px;
}

.card{
    position: absolute;
    top: 10%;
    left: 30%;
}

.btn{
   align-items: center;
}

.card img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.card1{
    position: absolute;
    top: 10%;
    left: 55%;
}

.card1 img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.card2{
    position: absolute;
    top: 10%;
    left: 80%;
}

.card2 img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.services{
    width: 90%;
    height: 90vh;
    margin: auto;
    border-bottom: 2px solid gray;
}

.servicesheading{
    display: flex;
    margin: 15px 0px;
    padding: 10px;
}

.services p{
    padding-top: 6px;
    font-size: 25px;
    margin-left: 15px;
}

.services h2{
    font-size: 30px;
}

.servicewatch{
    display: flex;
    width: 100%;
   
}

.servicecard{
    margin: 5px;
}

.servicecard img{
    width: 100%;
    height: 120%;
    padding: 10px;
}

.servicecard h2{
    font-size: 15px;
    margin-left: 15px;

}

.servicecard p{
    font-size: 15px;
}

.footer{
    width: 100%;
    height: 55vh;
    /* margin: 0px 50px; */
    padding: 0px 50px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    position: relative;
}

.footer h2{
    color: #777;
}


.footer1 ul{
    list-style: none;
}

.footer2 ul{
    list-style: none;
}

.footer3 ul{
    list-style: none;
}

.footer4 ul{
    list-style: none;
}

.footer5 ul{
    list-style: none;
}

.footer1{
    flex-basis: 20%;
}

.footer2{
    flex-basis: 20%;
}

.footer3{
    flex-basis: 20%;
}

.footer4{
    flex-basis: 20%;
}

.footer5{
    flex-basis: 20%;
}

.footer1 ul li a{
    color: #777;
    font-size: 12px;
    text-decoration: none;
}

.footer1 ul li a:hover{
    text-decoration: underline;
}

.footer1 ul li{
    margin: 10px 10px;
}

.footer2 ul li a{
    color: #777;
    font-size: 12px;
    text-decoration: none;
}

.footer2 ul li a:hover{
    text-decoration: underline;
}

.footer2 ul li{
    margin: 10px 10px;
}

.footer3 ul li a{
    color: #777;
    font-size: 12px;
    text-decoration: none;
}

.footer3 ul li a:hover{
    text-decoration: underline;
}

.footer3 ul li{
    margin: 10px 10px;
}

.footer4 ul li a{
    color: #777;
    font-size: 12px;
    text-decoration: none;
}

.footer4 ul li a:hover{
    text-decoration: underline;
}

.footer4 ul li{
    margin: 10px 10px;
}

.footer5 ul li a{
    color: #777;
    font-size: 12px;
    text-decoration: none;
}

.footer5 .last{
    margin-top: 45px;
}
.footer5 ul li a:hover{
    text-decoration: underline;
}

.footer5 ul li{
    margin: 10px 10px;
}

.select1{
    position: relative;
}

.select1 select{
    position: absolute;
    bottom: 25px;
    right: 180px;
    width: 120px;
    padding: 5px 10px;
}



.lastp{
    width: 90%;
    margin: auto;
    height: 50px;
}

.lastp p{
    font-size: 13px;
    color: #777;
}


.footer .footer-iconTop a{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: .6rem;
    background: #fff;
    border-radius: .8rem;
    border: .2px solid #333;
    outline: .2rem solid transparent;
    transition: .5s ease;
    right: 20px;
    bottom: 10px;
    position: absolute;
}

.footer-iconTop a:hover{
    outline-color: #fff;
}

.footer-iconTop a i {
    font-size: 1.4rem;
    color: #333;
}